# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# SQLite database
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Model files (optional – if large)
*.pt
*.pth
*.onnx

# Temporary files
*.tmp
*.bak